@import "tailwindcss";

@theme {
  --font-jetbrains-mono: "JetBrains Mono", monospace;

  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;

  --color-primary: #1c1c22;
  --color-accent: #fe37af;
  --color-hover: #00e187;
}

@layer base {
  body {
    @apply font-jetbrains-mono bg-primary text-accent dark:bg-black dark:text-white;
  }
}
